.container-1, .container-2,.container-3, .container-4, .container-5 {
	border: 2px solid black; 
	margin: 70px auto;
	width: 75%;
	text-align: center;
}
.flex-box-container-1, .flex-box-container-2, .flex-box-rps, .flex-box-container-4, 
.flex-blackjack-row-1 , .flex-blackjack-row-2 ,.flex-blackjack-row-3{
	display: flex;
	border:2px solid black;
	padding: 10px;
	flex-wrap: wrap;
	justify-content: space-around;
}
.flex-blackjack-row-1,.flex-blackjack-row-2{
	background: url(https://image.freepik.com/free-vector/poker-table-background-green-color_47243-1068.jpg);
    color: #ffffff;
}
.flex-blackjack-row-1 div {
	border: 1.5px solid black;
	padding: 10px;
	text-align: center;
	flex:1;
	height: 350px;
}
.flex-blackjack-row-1 img{
 width: 25%;
 padding: 10px;
}
.flex-box-container-1 div{
	display: flex;
	padding: 10px;
	border: 2px solid black;
    align-items: center;
}
.container-2 button{
	margin-bottom: 10px;
}
.flex-box-container-2 img {
	margin: 10px;
	box-shadow: 0px 10px 50px rgba(0,0,0,0.7);
}
.flex-blackjack-row-2 button {
 border: 1px solid black;
 padding: 10px;	
}
.flex-blackjack-row-2 div{
 border:1.5px solid black;
 padding: 10px;
}
table ,th,td{
	padding: 5px;
	border: 2px solid black;
}
.flex-box-rps img:hover{
	box-shadow: 0px 10px 50px rgba(37,50,233,1);
}
#repeat {
 border: 1px solid black;
 margin: 10px auto;	
}