body{
	font-size: 16px;
	color: #fff;
	font-family: 'Oxygen', sans-serif;
}
#header-nav{
	background-color: gray;
	border-radius: 0;
	border: 0;
	width: 100%;
	border: 2px solid black;
}
.navbar-brand {
	padding-top: 25px;
}
.navbar-brand h1{ /*Restraunt name*/
    font-family: 'Lora', serif;
    color: black;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: -10px;
    line-height: 0.75;
    text-align:left;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
	background-color: gray;
	/*this is done so that it does not looks like a link it removes the line under Ram Corner*/
}
#nav-list {
    border: 1.5px solid black;
	margin-top: 10px;
	padding-bottom: 0;
	margin-bottom: 0;
} 
#nav-list a {
	color: black;
	background-color: white;
	font-weight: 60%;
	text-align: center;
	border: 1.5px solid black;
	font-weight: 600;
}
#nav-list a:hover {
	background: #E7E7E7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1.5px solid black;
}
.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -30px;
}
*{
		box-sizing: border-box;
	}
	h1{
		font-size: 175%;
	    font-family: 'Oxygen', sans-serif;
		color: #222;
		font-weight: 600;
	}
	section {
			background-color: gray;
			top: 60px;
            margin-bottom: 30px;
		}
	div {
		display: block;
	}
	h3{
		font-family: 'Lora', serif;
		font-weight: 800;
		color: black;
		margin-top: 15px;
		margin-bottom: -35px;
		padding: 5px;
	}	
	p{
		padding: 10px;
		margin-top: 30px;
		margin-right: auto;
		margin-left: auto;
		display: block;
		font-weight: 600;
		color: #222;
		}
@media(max-width: 767px)
{
	section{
		margin-left: 50px;
	    margin-right: 50px;
	}
}		