*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
font-family: 'Roboto', sans-serif;
line-height: 1.4;
color: #333;
overflow-x: hidden;	
}
.container {
	max-width: 1100px;
	margin: auto;
}
.text-primary{
	color: #3693ff;
}
/*navbar*/
#navbar {
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
	background: #333;
	color: #fff;
	padding: 1.5rem 8rem;
	position: sticky;
	top: 0;
	z-index: 1;
	border-bottom : 3px solid #3693ff;
}
#navbar ul{
	display: flex;
	align-items: center;
	list-style: none;
}
#navbar h2 a{
	color: #fff;
	text-decoration :none; 
}
#navbar li a {
	text-decoration: none;
	color: #fff;
	padding: 1rem;
	font-size: 1.5rem;
	margin : 0 0.5rem;
	border-radius: 5px;
	font-weight:1.4; 
	font-family: 'Roboto', sans-serif;
	transition: background-color 0.3s;
}
#navbar li a:hover{
	background-color: #3593ff;
}
/*showcase area*/
#showcase {
	background:  url(../images/code.jpg.jpg) no-repeat center center/cover;
	height: 91.7vh;
}
.showcase-content {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 81px;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.6);
	color: #fff;
}
.showcase-content h1 {
	font-size: 4rem;
    margin-bottom:  2rem;
}
.showcase-content .btn {
font-size: 1.5em;
font-weight: 1.4em;
padding: 1rem 10rem;
}
.btn {
	color: #3693ff;
	text-decoration : none;
	display:  inline-block;
	padding: 1rem 2rem;
	border:  1px solid #3693ff;
	border-radius: 10px;
	font-weight: bold;

}
.showcase-content .btn:hover {
	background: #3693ff;
	color: #fff;
	transition:  color:0.3s background:0.3s;
}
/*About*/
#about {
	padding: 5rem 0;
}
#about h2 {
	text-align: center;
	font-size: 3rem;
	margin-bottom: 3rem;
}
#about h3 {
	font-size: 2rem;
	margin-bottom: 1rem;
}
#about p.lead {
	margin-bottom: 1rem;
}
#about .about-content {
	display: flex;
}
#about .about text ,
#about .about-image {
	flex=1;
}
#about .about-text {
	text-align : justify-content; 
}
#about .about-image img {
	display: block;
	margin-left: auto;
	width: 75%;
	border-radius: 60%;
	margin-top :60px;
}
.bg-light{
	background :#f4f4f4;
	color: #333; 
}
.bg-dark{
	background: #333;
	color: #fff;
}
/**skills**/
#skills {
	padding: 5rem 0;
}
#skills h2 {
	text-align: center;
	font-size: 3rem;
	margin-bottom: 3rem;
}
#skills h3{
	text-align: center;
	margin-bottom: 2rem;
	font-size: 2rem;
}
#skills .boxes{
	display: flex;
	flex-flow: wrap;
}
#skills .box {
	background :#fff; 
    flex: 1;
    padding: 3rem;
    margin: 2rem 3rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #d1d1d1;
    font-size: 1.3rem;
    font-weight: 1.4;
}
#skills .feature{
 color: #fff;
 text-align: center;
 padding:  1rem;
 background:  #3693ff;
 border-radius:  50%;
 margin: 0 1rem;
 margin-bottom: 2rem;
}
/*projects*/
#Projects {
	background: url(https://www.uschamberfoundation.org/sites/default/files/styles/detail_image800w/public/code%2C%20coder%2C%20coding%2C%20coffee%2C%20computer%2C%20copy%2C%20hands%2C%20js%2C%20keyboard%2C%20laptop%2C%20note%2C%20php%2C%20programmer%2C%20programming%2C%20writing%2C%20work%2C%20office.jpg?itok=Ba0HeGFQ) no-repeat center center/cover;
	height: 100vh;
}
.Projects-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.6);
	padding: 5rem 0;
}
#Projects h2{
	text-align: center;
	font-size: 3rem;
	font-weight: 1.4;
	margin-bottom: 3rem;
	color: #fff;
}
#Projects .boxes {
	display: flex;
	flex-direction: column;
	flex-flow: wrap;
}
#Projects .box {
	background: rgba(54,147,255,0.7);
	display: flex;
	padding: 2rem;
	align-items: center;
	border-radius: 15px;
}
#Projects .box{
	margin-bottom: 3rem;
} 
#Projects p{
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
	font-size: 1.2rem;
}
#Projects a{
	color: #fff;
}
#Projects a.hotel {
	font-family: 'Lato', sans-serif; 
	text-decoration: none;
	text-align: center;
	text-shadow: 20;
	border-radius: 5px; 
	text-shadow: #FC0 1px 0 10px; 
	font-weight: 600;
	font-style: italic;
    padding: 15px;
}
#Contact {
	padding: 5rem 0;
}
#Contact h2{
	text-align: center;
	font-size: 3rem;
	margin-bottom: 8rem;
}
#Contact h3{
	text-align: center;
	font-size: 2.5rem;
	margin: 3rem 0;
	margin-top: 5rem; 
}
#Contact .form-box {
	background: #fff;
	padding: 3rem;
	box-shadow: 2px 2px 5px #d1d1d1;
	border-radius: 10px;
}
#Contact .form-group{
	margin-bottom: 2rem;
}
#Contact .form-group label {
	display: block;
	margin-bottom: 0.5rem;
	width: 80%;
	margin-left: 10%;
	font-size: 1.1rem;
}
#Contact .form-group input,
#Contact .form-group textarea {
	width: 80%;
	margin-left: 10%;
	font-size: 1.3rem;
	padding: 1rem;
	border: 0.5px solid #333;
	border-radius: 5px;
}
#Contact .form-group textarea {
	font-family: Arial,sans-serif;
}

#Contact .contact-btn {
	width: 80%;
	margin-left: 10%;
	display: inline-block;
	padding: 1rem 3rem;
	border:none;
	border-radius: 5px;
	font-size: 1.5rem;
	background: #3693ff;
	color: #fff;
	margin-bottom: 2rem;
	cursor: pointer;
	transition: background 0.3sec;
}
#Contact .contact-btn:hover {
	background: #0378ff;
}
#Contact .form-container {
	position: relative;
}
#Contact .mail-icon{
	font-size: 4rem;
	background: #3693ff;
	color: #fff;
	display: inline-block;
	padding: 1.5rem 2rem;
	border-radius: 50%;
	position: absolute;
	top: -7%;
	left: 45%;
}
footer {
	padding: 2.5rem;
}
footer p{
	text-align: center;
}
